/*Start with the small screens first and move up in size*/
/*Small Screen should be your first and default styling*/
*:not(body):not(html) {
	box-sizing: border-box;
}

ul li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
}

li a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 12px;
}

h1 {
	padding-top: 20px;
}

a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}

img {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
	display: block;
	width: 95%;
	height: auto;
}

.wholebg {
	background-color: grey;
	background-size: auto;
}

#logo {
	width: auto;
	height: auto;
}

.nav-container {
	height: 136px;
	background-color: #FFFEFF;
	opacity: 1.0;
	top: 0;
	left: 0;
	margin: 20px;
	position: static;
	width: 95%;
	font-style: normal;
	font-weight: bold;
	/*+placement: 0px 2px;*/
	position: relative;
	left: 0px;
	top: 2px;
}

.nav-container ul {
	margin-top: 10px;
	background-color: #F3F3F3;
	padding-left: 22px;
	padding-top: 10px;
	padding-right: 22px;
	float: none;
	overflow: auto;
	width: 100%;
}

.nav-container h1 {
	margin-left: 20px;
	margin-right: 10px;
}

.nav-container h1 a {
	text-decoration: none;
	display: block;
	margin-top: 10px;
	color: #444;
	background: url("../awlogo.png") no-repeat left top;
	text-indent: -9999px;
	margin-right: 10px;
}

.wrap {
	height: 100%;
	width: 100%;
	padding-right: 20px;
}

#nav {
	padding-bottom: 10px;
}

a:hover {
	color: green;
}

#project-title {
	display: block;
	color: white;
	position: absolute;
	left: 50px;
	width: 100%;
	height: auto;
}

#project-location {
	display: block;
	color: white;
	position: relative;
	left: 50px;
	float: right;
	width: auto;
	margin-right: 96%;
	margin-left: 0;
	margin-top: 66px;
	margin-bottom: -158px;
}

#featured-head {
	text-decoration: none;
	list-style: none;
	color: black;
	display: block;
	background: #FFFEFF;
	padding: 20px;
	margin-top: 0;
	font-size: 12px;
	height: auto;
	text-transform: uppercase;
	margin-left: 10px;
	padding-left: 10px;
	width: 95%;
}

#featured-title {
	text-decoration: none !important;
	list-style: none !important;
	color: black !important;
	display: block !important;
	background: #FFFEFF !important;
	padding: 20px !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	margin-left: 10px !important;
	width: 95% !important;
	height: auto !important;
}

.featured-wrap {
	width: 95%;
	height: auto;
}

#logo {
	display: none;
}

p {
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	width: 95%;
	height: auto;
}

/*Medium Screen Size always use min width*/
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1000px) {
	a {
		margin: 0;
	}

	ul li {
		list-style: none;
		text-decoration: none;
		margin: 3px;
	}

	li a {
		display: list-item;
		text-decoration: none;
	}

	.nav-container {
		height: auto;
		background-color: #F4F3F4;
		opacity: 0.95;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		overflow: visible;
		float: left;
		display: block;
		width: 170px;
	}

	.nav-container ul {
		text-decoration: none;
		list-style: none;
	}

	.nav-container h1 {
	}

	.nav-container h1 a {
		text-decoration: none;
		display: inline-block;
		color: #444;
		background: url("../awlogo.png") no-repeat left top;
		text-indent: -9999px;
		width: 170px;
		height: auto;
		float: left;
		visibility: visible;
		overflow: hidden;
	}

	#right-content {
		width: 40%;
		border-left: none;
		position: relative;
		background: #111;
		height: 30%;
		min-height: 250px;
		top: auto;
		left: 0;
		bottom: 0;
		border-top: 0px solid #FFF;
		float: right;
		display: block;
		/*+placement: 209px -498px;*/
		position: relative;
		left: 209px;
		top: -498px;
		padding-bottom: 0px;
	}

	#featured-head {
		height: 100%;
		border-bottom: 0;
		width: 48%;
		border-right: 12px solid #FFF;
		float: left;
	}

	img {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 0;
		display: block;
		width: 80%;
		height: 100%;
		float: left;
		/*+placement: ;*/
		position: relative;
		left: 0;
		top: 0;
	}

	#logo {
		display: inline-block;
		float: left;
	}


	#featured-title {
		text-decoration: none !important;
		list-style: none !important;
		color: black !important;
		display: block !important;
		background: #FFFEFF !important;
		padding: 20px 20px 257px 20px !important;
		font-size: 12px !important;
		text-transform: uppercase !important;
		margin-left: 10px !important;
		width: 95% !important;
		height: auto !important;
	}
}
